.title-modal-header {
    position: sticky;
    z-index: 1;
    background-color: rgb(31 31 31);
    top: 0;

    h2 {
        font-size: var(--text-xl);
        font-weight: 600;
    }
}

.title-modal-footer {
    position: sticky;
    z-index: 1;
    background-color: rgb(31 31 31);
    bottom: 0;
}
