.main-content {
    &:has(.overflow-initial) {
        overflow: initial;
        height: initial;
        min-height: 100svh;
    }

    &:has(.reply-area) {
        background-color: var(--background);
        transition: none;

        @include below("lg") {
            margin: 0;
            border-radius: 0;
            height: initial;
            min-height: initial;
        }
    }
}
