.open-agent-button {
    color: var(--primary-foreground);
    a {
        color: var(--primary-foreground);
    }
    &:hover {
        color: var(--primary-foreground);
        a {
            color: var(--primary-foreground);
        }
    }
}
