.common.lightbox-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 1);
    z-index: 60;

    .lightbox-content {
        .lightbox-header {
            .lightbox-close-button i,
            .lightbox-close-button svg {
                font-size: var(--text-lg);
                font-weight: 800;
                width: 1.25em;
                height: 1.25em;
            }
        }
        .lightbox-image {
            > img {
                width: auto;
                max-height: calc(100svh - 40px - 37px - 88px - 48px);
                max-width: 100%;
            }
        }
    }
}

.clickable-image {
    cursor: pointer;
    transition: transform 0.2s ease;
}

.clickable-image:hover {
    transform: scale(1.02);
}
