.dropdown-menu-item {
    &:hover:not([data-variant="destructive"]):not([data-static-row]) {
        color: var(--primary);

        span {
            color: var(--primary);
        }

        i,
        svg {
            color: var(--primary);
        }
    }
}
